/* TOP + HEADER */

#top {
    background-color: #0e0c0c;
}

#top img {
    height: 35px;
    margin: 9px 0px;
}

/* NAV */

#menu {
    background-color: #ffff32
}


nav {
    height: 50px;
}

/* CONTENT */

#bikeContent {
    padding: 30px 0px;
    font-size: 16px;
}

#content {
    background-color: lightgrey;
    padding: 20px 0px;
}

/* ARTICLES */

#articleWrapper {
    padding: 0px 10px;
    box-sizing: border-box;
}

.articleHeadings {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin: 0px;
}

article p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 15px 0px;
}

/* FOOTER */

footer {
    background-color: #0e0c0c;
}

.footerTitle {
    color: #ffff32;
    margin: 12px 0px;
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer ul li {
    color: grey;
    font-size: 14px;
}